<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eintrag erstellen</title>

    <!-- Including the Stylesheet -->
    <link rel="stylesheet" type="text/css" href="../../../../web/css/progressbar.css">
    <link rel="stylesheet" type="text/css" href="../../../../web/css/mystyle.css">

    <!-- Including Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../../../../web/js/progressbar.js"></script>

</head>
<body>

<!--form-content-->
<form id="form-id">

    <!--Progressbar-->
    <ul class='progress'>
        <li class="active">Kategorie auswählen</li>
        <li>Allgemeine Details</li>
        <li>Besatzung</li>
        <li>Wetter und Straßenbeschaffenheit</li>
        <li>Zusammenfassung</li>
    </ul>

    <!-- Auswahl der Eintrags Kategorie-->
    <fieldset>
        <h2 class='title'>Kategorie Auswahl</h2>
        <h3 class='sub-title'>Wähle die Kategorie des Eintrags aus aus</h3>
        <input type='button' name='next' class='next-button custom-button' value="Einsatz"><br>
        <input type='button' name='next' class='next-button custom-button' value="Übung"><br>
        <input type='button' name='next' class='next-button custom-button' value="Tätigkeit"><br>
    </fieldset>

    <!--Allgemeine Details des Eintrags-->
    <fieldset>
        <h2 class='title'>Eintrags Details</h2>
        <h3 class='sub-title'>Bitte gib hier die Details der ausgeübten Aufgabe bekannt!</h3>

        <!-- Hier fehlt noch die Kategorie die ausgewählt wurde -->

        <!-- Hier muss dann das aus/eingebelendet werden was zu der jeweiligen Kategorie gehört -->

        <!-- Eintragsbezeichnung -->
        <label for="eintragsbezeichnung">Eintragsbezeichnung:</label><br>
        <input id="eintragsbezeichnung" type='text' placeholder='Eintragsbezeichnung'>

        <!-- Ausfahrtszeit -->
        <label for="ausfahrt">Ausfahrtszeit:</label><br>
        <input id="ausfahrt" type='date'>

        <!-- Eintragsort -->
        <label for="eintragsort">Eintrags Ort:</label><br>
        <input id="eintragsort" type='text' placeholder='Eintrags Ort'>

        <input type='text' name='facebook' placeholder='Facebook'>
        <input type='text' name='google-plus' placeholder='Google Plus'>
        <input type='button' name='restart' class='reset-button custom-button' value="Restart">
        <input type='button' name='previous' class='prev-button custom-button' value="Back">
        <input type='button' name='next' class='next-button custom-button' value="Next">
    </fieldset>

    <!--Besatzung-->
    <fieldset>
        <h2 class='title'>Besatzung</h2>
        <h3 class='sub-title'>Bitte die jeweilige Besatzung den Fahrzeugen zuweisen!</h3>
        <input type='text' name='first-name' placeholder='First Name'>
        <input type='text' name='last-name' placeholder='Last-Name'>
        <input type='text' name='phone-no' placeholder='Phone No.'>
        <input type='text' name='address' placeholder='Address'>
        <input type='button' name='restart' class='reset-button custom-button' value="Restart">
        <input type='button' name='previous' class='prev-button custom-button' value="Back">
        <input type='button' name='next' class='next-button custom-button' value="Next">
    </fieldset>

    <!-- Wetter und Straßenbeschaffenheit -->
    <fieldset>

        <!-- Wetter -->
        <h2 class='title'>Wetter Straßenbeschaffenheit</h2>
        <h3 class='sub-title'>Bitte die Wetterumstände des Eintrags auswählen:</h3>

        <label for="sonne">Sonne</label>
        <input id="sonne" type="checkbox" name="sonne" value="sonne" class="checkmark">

        <label for="wolken">Wolken</label>
        <input id="wolken" type="checkbox" name="wolken" value="wolken" class="checkmark">

        <label for="wind">Wind</label>
        <input id="wind" type="checkbox" name="wind" value="wind" class="checkmark">


        <!-- Straßenbeschaffenheit -->
        <h2 class='title'>Straßenbeschaffenheit</h2>
        <input type='text' name='first-name' placeholder='First Name'>
        <input type='text' name='last-name' placeholder='Last-Name'>
        <input type='text' name='phone-no' placeholder='Phone No.'>
        <input type='text' name='address' placeholder='Address'>
        <input type='button' name='restart' class='reset-button custom-button' value="Restart">
        <input type='button' name='previous' class='prev-button custom-button' value="Back">
        <input type='button' name='next' class='next-button custom-button' value="Next">
    </fieldset>

    <!-- Zusammenfassung -->
    <fieldset>
        <h2 class='title'>Zusammenfassung</h2>
        <h3 class='sub-title'>Hier kommen noch Infos hin</h3>
        <input type='text' name='first-name' placeholder='First Name'>
        <input type='text' name='last-name' placeholder='Last-Name'>
        <input type='text' name='phone-no' placeholder='Phone No.'>
        <input type='text' name='address' placeholder='Address'>
        <input type='button' name='restart' class='reset-button custom-button' value="Abbrechen">
        <input type='button' name='restart' class='reset-button custom-button' value="Neustarten">
        <input type='button' name='previous' class='prev-button custom-button' value="Back">
        <input type='button' name='next' class='next-button custom-button' value="Next">
    </fieldset>

</form>

</body>
</html>

<!-- Code Snippet:
https://codepen.io/ambika-rajesh/pen/QBmBwy
-->
